header{
    background-color: #8c2a70;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.aplogo{
    height: 100px;
}
img{
    height: 40px;
}
div{
    margin-right: 10px;
}