<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 container-info">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aspernatur eius quis porro hic nihil ad ducimus blanditiis sed aliquid eligendi et perferendis aliquam deleniti nesciunt, ipsum deserunt sint quisquam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 container-image">
            <img class="img-fluid" src="../../../assets/bruno.png">
        </div>
    </div>
</div>